<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:include="/commons/head::commonHead"></th:block>
	<link rel="stylesheet" type="text/css" href="/css/event/list.css">
</head>
<body>
	<th:block th:insert="/commons/header::header"></th:block>
	<section id="title-img">
		<h1>페이지 타이틀 이미지</h1>
		<div>
		</div>
	</section>
	<main>
		<h1>이벤트 목록 페이지</h1>
		<div class="view-width">
			<section id="page-tit">
				<h1>페이지제목</h1>
				<p>이벤트 목록 페이지</p>
			</section>
			<section id="board">
				<h1>게시글 내용</h1>
				<div class="wrap">
					<div class="btn">
						<a href="/event/reg">추가등록</a>
					</div>
					<ul class="tit flex">
						<li>no</li>
						<li>l_url</li>
						<li>l_text</li>
						<li>t_url</li>
						<li>t_text</li>
						<li>b_url</li>
						<li>b_text</li>
						<li>적용유무</li>
						<li>수정</li>
						<li>삭제</li>
					</ul>
					<ul class="contents flex" th:each="dto:${list}" >
						<li th:text="${dto.no}"></li>
						<li>
							<span>[[${dto.l_url}]]</span>
							<input type="file" name="files" th:value="${dto.l_url}">
						</li>
						<li>
							<span>[[${dto.l_text}]]</span>
							<input type="text" th:value="${dto.l_text}">
						</li>
						<li>
							<span>[[${dto.t_url}]]</span>
							<input type="file" th:value="${dto.t_url}">
						</li>
						<li>
							<span>[[${dto.t_text}]]</span>
							<input type="text" th:value="${dto.t_text}">
						</li>
						<li>
							<span>[[${dto.b_url}]]</span>
							<input type="file" th:value="${dto.b_url}">
						</li>
						<li>
							<span>[[${dto.b_text}]]</span>
							<input type="text" th:value="${dto.b_text}">
						</li>
						<li><a th:href="|/event/used/${dto.no}|">[[${dto.used}]]</a></li>
						<li><a href="#">수정</a></li>
						<li><a th:href="|/event/delete/${dto.no}|">삭제</a></li>
					</ul>
				</div>
			</section>
		</div>
	</main>
	<th:block th:insert="/commons/footer::footer"></th:block>
</body>
</html>