@charset "UTF-8";
@import url("common.css");

/* /////////////////////////////////////////// */
/* //////visual.css/////////////////////////// */
/* /////////////////////////////////////////// */
#visual{
	min-width: 1180px;
}
#visual .visual-area{
	position: relative;
	height: 520px;
}

#event .img-wrap{
	margin-top: 14px;
}
#img-list ul li{
	position: absolute;
	width:100%;
	top:0;
	left:0;
}
#img-list ul li .cover{
	height:520px;
	background-color: rgba(0,0,0,0.3);
}
#img-list ul li{
	height: 520px;
	background: url("/images/visual/bn_top_pc_1.jpg") no-repeat center top;
	background-size: cover;
}
#img-list ul li:nth-child(1){
	background-image:url("/images/visual/bn_top_pc_1.jpg");
}
#img-list ul li:nth-child(2){
	background-image:url("/images/visual/bn_top_pc_2.jpg");
}
#img-list ul li:nth-child(3){
	background-image:url("/images/visual/bn_top_pc_3.jpg");
}
#img-list ul li:nth-child(4){
	background-image:url("/images/visual/bn_top_pc_4.jpg");
}
#img-list ul li:nth-child(5){
	background-image:url("/images/visual/bn_top_pc_5.jpg");
}
#img-list ul li .visual-title{
	width:100%;
	height: 520px;
	z-index: 1;
	color: #fff;
	text-align: center;
	padding-bottom: 32px;
}
#img-list ul li .visual-title p{
	margin: 8px 0;
	letter-spacing: -1px;
}
#img-list ul li .visual-title p.tit{
	font-size: 39px;
}
#img-list ul li .visual-title p a{
	color: #fff;
	padding: 10px 20px;
	border: 1px solid rgba(255,255,255,.2);
	border-radius: 22px;
	background: transparent;
	letter-spacing: -1px;
	display: inline-block;
}
#thumbnail{
	width: 100%;
	bottom: 34px;
	position: absolute;
}
#thumbnail>.thumbnail-area{
	width: 550px;
	margin: 0 auto;
	overflow: hidden;
}
#thumbnail>.thumbnail-area ul li{
	width:110px;
	height: 76px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#thumbnail>.thumbnail-area ul li img{
	width:110px;
	height: 70px;
}

#thumbnail>.thumbnail-area ul .th-target img{
	border: 1px solid #ff5f3c;
	height: 76px;
}
#thumbnail>.btn-th{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 76px;
}
#thumbnail>.btn-th .btn-th-wrap{
	width: 660px;
	margin: 0 auto;
}

#thumbnail>.ea{
	position: absolute;
	top: -34px;
	left: 0;
	color: rgba(255,255,255,.4);
	width:100%;
	text-align: center;
	font-size: 12px;
}
#thumbnail>.ea .idx{
	color: rgba(255,255,255,1);
}
/* ///////////////////////// */
#shortcut-appDown{
	height: 82px;
	/* border-top:1px solid rgba(255,255,255,.4); */ 
	border-bottom:1px solid rgba(0,0,0,.2); 
}
#shortcut li a{
	display: flex;
	padding-right: 40px;
}
#shortcut i{
	display: inline-block;
	width: 26px;
	height: 26px;
	background-repeat: no-repeat;
	background-size: 26px auto;
	background-image:url("/images/shortcuts_icons.png") ;
}
#shortcut li:nth-child(1) i{
	background-position: 0 0;
}
#shortcut li:nth-child(2) i{
	background-position: 0 -26px;
}
#shortcut li:nth-child(3) i{
	background-position: 0 -52px;
}
#shortcut li:nth-child(4) i{
	background-position: 0 -78px;
}
#shortcut span {
	margin-left:10px;
	font-size: 18px;
	font-weight: 700;
	color: #000;
}
#appdown img{
	width: 108px;
	height: 42px;
}
#appdown li{
	margin-left: 2px;
}

/* ////event CSS////////////////// */
#event{
	width:762px;
	margin-top: 40px;
}
#event .img-wrap{
	width: 762px;
	height:260px;
	overflow: hidden;
	position: relative;
}
#event .img-wrap ul{
	position: absolute;
	top:0;
	left: 0;
	
}
#event .img-wrap li .left-img{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 420px;
	height: 260px;
	
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-bottom: 25px;
	
}
#event .img-wrap li .left-img p{
	color: #fff;
	text-align: center;
}
#event .img-wrap li .right-img div{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 342px;
	height: 130px;
	
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-bottom: 25px;
}
#event .img-wrap li .right-img div p{
	color: #fff;
	text-align: center;
}
/* 
#event .img-wrap li:nth-child(1) .left-img{
	background-image: url("/images/event/l1.jpg");
} 
#event .img-wrap li:nth-child(1) .right-img .top{
	background-image: url("/images/event/t1.jpg");
} 
#event .img-wrap li:nth-child(1) .right-img .bottom{
	background-image: url("/images/event/b1.jpg");
} 

#event .img-wrap li:nth-child(2) .left-img{
	background-image: url("/images/event/l2.jpg");
} 
#event .img-wrap li:nth-child(2) .right-img .top{
	background-image: url("/images/event/t2.jpg");
} 
#event .img-wrap li:nth-child(2) .right-img .bottom{
	background-image: url("/images/event/b2.jpg");
} 

#event .img-wrap li:nth-child(3) .left-img{
	background-image: url("/images/event/l3.jpg");
} 
#event .img-wrap li:nth-child(3) .right-img .top{
	background-image: url("/images/event/t3.jpg");
} 
#event .img-wrap li:nth-child(3) .right-img .bottom{
	background-image: url("/images/event/b3.jpg");
} 

#event .img-wrap li:nth-child(4) .left-img{
	background-image: url("/images/event/l4.jpg");
} 
#event .img-wrap li:nth-child(4) .right-img .top{
	background-image: url("/images/event/t4.jpg");
} 
#event .img-wrap li:nth-child(4) .right-img .bottom{
	background-image: url("/images/event/b4.jpg");
} 

#event .img-wrap li:nth-child(5) .left-img{
	background-image: url("/images/event/l5.jpg");
} 
#event .img-wrap li:nth-child(5) .right-img .top{
	background-image: url("/images/event/t5.jpg");
} 
#event .img-wrap li:nth-child(5) .right-img .bottom{
	background-image: url("/images/event/b5.jpg");
} 
 */
 /* ////////////////////// */
 .e-bullet{
 	width: 6px;
 	height: 6px;
 	display: inline-block;
 	background-color: rgba(0,0,0,0.3);
 	border-radius: 100%;
 }
 #event .tit-wrap ul{
 	margin: 0 3px;
 	height: 16px;
 }
#event .tit-wrap ul li{
 	padding: 0 3px;
 	height: 16px;
 	display: flex;
 	flex-direction: column;
 	justify-content: center;
}
#event .e-button{
 	width: 16px;
 	height: 16px;
 	background: url("/images/btn_pager.png") no-repeat ;
 	background-size: cover;
 }
#event .e-button.e-next{
  	background-position: 0 -16px;
}
  
#news{
  	width:369px;
  	margin-top: 40px;
}
#news .news-list{
  	margin-top: 14px;
}
#news .news-list li{
	border-top: 1px solid rgba(0,0,0, .1);
	height: 54px;
}
#news .news-list a{
    font-size: 14px;
    letter-spacing: -1px;
    line-height: 54px;
    
}
#news .news-list span{
	margin-left:5px;
	display: inline-block;
	width: 14px;
	height: 14px;
	color: #fff;
	font-size:10px;
	background-color: orange;
	text-align: center;
	vertical-align: baseline;
	border-radius: 100%;
}

#tab-munu{
	height: 82px;
	line-height: 82px;
	border-bottom: 1px solid rgba(0,0,0,.07);
	font-size: 21px;
}
#tab-munu li{
	margin: 0 10px;
	width: 90px;
	text-align: center;
	cursor: pointer;
}
.is-active{
	color: #eb6715;
	border-bottom: 1px solid #eb6715;
}
#tab-contents{
	background-color: rgba(0,0,0,.05);
	padding: 40px 0;
}
#best>div>p.tit{
	padding-bottom: 14px; 
	font-weight: 700;
}
#best .best-list{
	height: 302px;
	color: #222;
	font-weight: 700;
	font-size: 16px;
}
#best .best-list>div{
	border-color: #e7e8e9;
	border-style: solid;
	border-width: 0 1px 1px 0;
	background-color: #fff;
	padding: 25px 25px 20px;
}
#best .best-list>div .tit{
	margin-top: 10px;
	font-size: 15px;
}
#myfeed>div{
	height:255px;
	text-align: center;
}
#myfeed div p{
	line-height: 80px;
}
#myfeed div a{
	padding: 0.5em 2em;
	border-radius:5%;
	color: #fff;
	background-color: #eb6715;
}

/* //////////////////////////// */
#appdown-bottom{
	border-top: 1px solid #e6e7e9;
	padding: 40px 0;
	min-width: 1180px;
}
#appdown-bottom img{
	width: 108px;
	height: 42px;
}
#appdown-bottom p.tit{
	font-weight: 700;
	margin-bottom: 10px;
	font-size: 16px;
}
#appdown-bottom li{
	margin: 0 10px;
	text-align: center;
}
/* ///////////// */
#guide{
	padding-top: 40px;
}
#guide p.tit{
	padding-bottom: 14px; 
	font-weight: 700;
}
#guide div ul li{
	padding: 30px 15px;
	text-align: center;
	flex: 1;
	border-color: #e7e8e9;
    border-style: solid;
    border-width: 0 1px 1px 0;
    background-color: #fff;
    
}
#guide div ul li p{
	font-size: 14px !important;
    letter-spacing: -1px;
}
#guide .icon{
	display: inline-block;
	width: 55px;
	height: 55px;
	background: url("/images/icon/guide_icons_pc.png") no-repeat;
	background-size: cover;
}


